.film-page {
  background-color: $light-grey;

  &__container {
    background-color: $white;
    padding-bottom: 72px;
  }

  &__content {
    display: flex;
    margin-bottom: 72px;
    padding: 100px 52px 0;
  }

  &__section {
    margin-right: 52px;
  }

  &__tabs {
    width: calc(100% - 104px);
    margin: 0 auto 52px;
  }

  &__tabs-content {
    margin-top: 56px;
  }
}

.section-left {
  &__poster {
    border-radius: 4px;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 4px;
  }
}

.section-main {
  flex-grow: 1;

  &__head {
    margin-bottom: 32px;
  }

  &__title {
    @include font(32, 32);
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 16px;
    @include font(18, 20);
    color: $deep-grey;
  }

  &__short-description {
    max-width: 600px;
    @include font(14, 20);
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    margin-bottom: 48px;
  }

  &__watch-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    min-width: 238px;
    margin-right: 16px;
    padding: 14px 16px;
    background-color: $orange;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.15s ease-in;

    &:hover {
      background-color: $pale-orange;
      transition: background-color 0.15s ease-in;
    }
  }

  &__watch-btn-name {
    @include font(16, 16);
    font-weight: 600;
    color: $white;
  }

  &__watch-btn-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    color: $white;

    svg {
      display: block;
    }
  }

  &__favourite-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $black;
    cursor: pointer;
    transition: background-color 0.15s ease-in;

    &:hover {
      background-color: $soft-black;
      transition: background-color 0.15s ease-in;
    }

    &--active .section-main__favourite-btn-icon {
      color: $orange;
    }
  }

  &__favourite-btn-icon {
    width: 16px;
    height: 16px;
    color: $white;

    svg {
      display: block;
    }
  }
}

.movie-info {
  &__head {
    margin-bottom: 16px;
    @include font(24, 24);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 52px;
  }

  &__item {
    display: flex;
    padding: 8px 0;
    @include font(14, 14);
    font-weight: 500;
  }

  &__name {
    width: 160px;
    color: $deep-grey;
  }

  &__data {
    flex-grow: 1;

    &--slogan {
      color: $deep-grey;
    }

    &--age {
      flex-grow: 0;
      padding: 3px 4px;
      border-radius: 4px;
      border: 1px solid $black;
    }
  }

  &__sequels {
    width: 100%;
    max-width: 490px;
    margin-top: 52px;
  }

  &__actors {
    flex-shrink: 0;
  }

  &__title {
    margin-bottom: 16px;
    @include font(16, 16);
    font-weight: 600;
  }

  &__actors-list {
    margin-bottom: 16px;
  }

  &__actors-item {
    padding: 4px 0;
    @include font(14, 14);
    font-weight: 500;
  }

  &__actors-number {
    @include font(14, 14);
    font-weight: 500;
    color: $orange;
  }
}
