@import './variables/colors.scss';
@import './variables/mixins.scss';
@import './variables/media-query.scss';
@import './typografy.scss';

@import './layout.scss';
@import '../pages/MainPage/MainPage.scss';
@import '../pages/FilmPage/FilmPage.scss';

@import '../components/Header/Header.scss';
@import '../components/Navigation/Navigation.scss';
@import '../components/MovieCard/MovieCard.scss';
@import '../components/Section/Section.scss';

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  background-color: $white;
  color: $soft-black;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

button:focus-visible {
  outline: none;
}

#root {
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  color: inherit;
}