.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex-shrink: 0;
    height: 96px;
    background-color: $grey;
  }

  &__content {
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 54px;
  }

  &__footer {
    flex-shrink: 0;
    height: 64px;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media #{$md-and-up} {
    max-width: 720px;
    padding: 0;
  }

  @media #{$lg-and-up} {
    max-width: 940px;
  }

  @media #{$xl-and-up} {
    max-width: 1192px;
  }

  @media #{$xxl-and-up} {
    max-width: 1380px;
  }
}
