.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    height: 44px;
    padding: 8px 16px;
    background-color: $soft-black;
    border: none;
    border-radius: 4px;
    color: $white;
    @include font(14, 20);
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $grey;
      transition: color 0.15s ease-in;
    }
  }
}
