$white: #ffffff;
$black: #000000;
$grey: #d7d7d7;
$deep-grey: #777777;
$tomato: #ff6347;
$orange: #f50;
$pale-orange: #f26100;
$red: #ff0000;
$green: #3bb33b;
$transparent-grey: rgba(0, 0, 0, 0.5);
$soft-black: rgba(0, 0, 0, 0.85)
