.sequels-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.1s ease-in;

  &:hover {
    transform: scale(1.03);
    transition: all 0.1s ease-in;

    & .sequels-card__title {
      color: $tomato;
      transition: color 0.1s ease-in;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;

    &--img {
      margin-bottom: 8px;
    }
  }

  &__wrapper-img {
    height: 230px;
    aspect-ratio: 2/3;
  }
  
  &__img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 8px;
    transition: transform 0.3s;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 12px 0 0;
  }

  &__title {
    margin-bottom: 8px;
    transition: color 0.1s ease-in;
    letter-spacing: 0.2px;
    @include font(13, 15);
    font-weight: 600;
  }
}
